.container {
  padding: 3rem;
  margin: 0 auto;
}
.subtitle {
  margin-bottom: 20px;
}

/* Logo */
.logoImage {
  margin: auto;
}

/* search component */
.searchWrapper {
  /* margin: 2rem 0 3rem; */
  text-align: center;
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.searchWrapper > input {
  padding: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-category {
  width: 30%;
  /* margin: 2rem 0 3rem; */
}
.input-search {
  width: 70%;
}
.btn-search {
  width: 30%;
  border-radius: 0 0.375rem 0.375rem 0;
  cursor: pointer;
}

/* category component */
.categoryWrapper {
  /* margin: 2rem 0 3rem; */
}
.categoryBox {
  padding: 0.75rem;
  border-radius: 0.375rem 0 0 0.375rem;
}
.movieRow {
  margin: 0 -12px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
}
.movieListWrapper {
  margin-top: 4rem;
  margin-left: -10px;
  padding-bottom: 10px;
}
.movieBoxItem {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  margin: 10px 4px 10px 10px;
  border-radius: 8px;
  overflow: hidden;
}
.movieInfo {
  width: 100%;
  padding: 12px 10px;
  position: relative;
  white-space: normal;
  /* display: flex;
  align-content: flex-start;
  flex-wrap: wrap; */
}
.movieInfo > p {
  color: rgba(0,0,0,.6);
}

/* Poster */
.header-detail {
  margin-bottom: 30px;
  height: 500px;
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}
.poster-content-background {
  border-radius: 8px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(220.5, 220.5, 220.5, 1) calc((50vw - 170px) - 340px), rgba(220.5, 220.5, 220.5, 0.7) 50%, rgba(220.5, 220.5, 220.5, 0.7) 100%);
}
.poster-content {
  height: 100%;
  margin: auto 0;
  padding: 30px 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.detail-information {
  width: 50%;
  /* height: 100%; */
}
.tagline {
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: .7;
}
.info-item::after{
  font-size: 1.1em;
  line-height: 1;
  margin: 0 5px;
  content: "•";
  top: 0px;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
}
.info-item-item:not(:last-child):after{
  font-size: 1.1em;
  line-height: 1;
  content: ",";
  margin-right: 5px;
  top: 0px;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

/* Cast */
.card-cast {
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: -10px;
  margin-top: -10px;
  padding-bottom: 10px;
}
.card-cast-item {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  margin: 10px 4px 10px 10px;
  border-radius: 8px;
  overflow: hidden;
}
.cast-info {
  width: 100%;
  padding: 12px 10px;
  position: relative;
  white-space: normal;
  /* display: flex;
  align-content: flex-start;
  flex-wrap: wrap; */
}

/* Video */
.video-wrapper {
  border-radius: 8px;
  overflow: hidden;
}