.container {
  padding: 3rem;
  margin: 0 auto;
}

.subtitle {
  margin-bottom: 20px;
}

.pt-0 {
  padding-top: 0 !important;
}

/* logo component */
.logoImage {
  margin: 20px 0 40px;
}

/* header component */
.header-wrapper {
  padding: 2rem;
  min-height: 300px;
  height: calc(100vh/2.5);
  max-height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-content {
  height: 100%;
  margin: auto 0;
  padding: 30px 40px;
  /* display: flex;
  flex-wrap: nowrap;
  align-items: center; */
}

/* search component */
.searchWrapper {
  width: 100%;
  position: relative;
  text-align: center;
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.searchWrapper > input {
  /* padding: 0.75rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchWrapper > input:focus {
  outline: none;
}
.input-category {
  width: 15%;
}
.input-search {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0,0,0,.5);
  border: 0;
  border-radius: 30px;
  padding: 0 10.5rem 0 9.25rem;
}
.btn-search {
  width: 15%;
  cursor: pointer;
  height: 46px;
  padding: 10px 26px;
  border: 0;
  background: linear-gradient(to right,rgba(30,213,169,1) 0%,rgba(1,180,228,1) 100%);
  border-radius: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  right: -1px;
}

/* category component */
.categoryWrapper {
  position: absolute;
  z-index: 1;
  /* left: -20px; */
}
.categoryBox {
  padding: 12px 26px 10px;
  background: linear-gradient(to left,rgba(30,213,169,1) 0%,rgba(1,180,228,1) 100%);
  border-radius: 30px;
  color: #fff;
  height: 46px;
}
.menu-dropdown-custom {
  top: 38px;
  left: -100px;
}

/* Movie list component */
.movieRow {
  margin: 0 -12px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
}
.movieListWrapper {
  margin-top: 1rem;
  margin-left: -10px;
  padding-bottom: 10px;
}
.movieBoxItem {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  margin: 10px 4px 10px 10px;
  border-radius: 8px;
  overflow: hidden;
}
.movieInfo {
  width: 100%;
  padding: 12px 10px;
  position: relative;
  white-space: normal;
  /* display: flex;
  align-content: flex-start;
  flex-wrap: wrap; */
}
.movieInfo > p {
  color: rgba(0,0,0,.6);
}

/* Poster */
.header-detail {
  margin: 30px 0;
  margin-bottom: 30px;
  height: 500px;
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}
.poster-content-background {
  border-radius: 8px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(220.5, 220.5, 220.5, 1) calc((50vw - 170px) - 340px), rgba(220.5, 220.5, 220.5, 0.7) 50%, rgba(220.5, 220.5, 220.5, 0.7) 100%);
}
.poster-content {
  height: 100%;
  margin: auto 0;
  padding: 30px 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.detail-information {
  width: 50%;
  /* height: 100%; */
}
.tagline {
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: .7;
}
.info-item::after{
  font-size: 1.1em;
  line-height: 1;
  margin: 0 5px;
  content: "•";
  top: 0px;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
}
.info-item-item:not(:last-child):after{
  font-size: 1.1em;
  line-height: 1;
  content: ",";
  margin-right: 5px;
  top: 0px;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

/* Cast */
.card-cast {
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: -10px;
  margin-top: -10px;
  padding-bottom: 10px;
}
.card-cast-item {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  margin: 10px 4px 10px 10px;
  border-radius: 8px;
  overflow: hidden;
}
.cast-info {
  width: 100%;
  padding: 12px 10px;
  position: relative;
  white-space: normal;
  /* display: flex;
  align-content: flex-start;
  flex-wrap: wrap; */
}

/* Video */
.video-wrapper {
  border-radius: 8px;
  overflow: hidden;
}